* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainColor: #4e5a57;
  --secondColor: #070907;
  --thirdColor: #dde5d6;
  --fourthColor: #eae4ca;
}
a {
  text-decoration: none;
  color: unset;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--fourthColor);
}
main {
  flex-grow: 1;
  background-color: var(--mainColor);
  color: var(--thirdColor);
  padding: 0 0 30px;
}

header {
  height: 160px;
  color: var(--secondColor);
  background-color: var(--fourthColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header h2 {
  text-transform: uppercase;
  font-size: 4rem;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 10px;
  text-transform: uppercase;
}
.menu li {
  padding: 10px;
  font-weight: bold;
}
header .menu li:hover {
  background-color: var(--mainColor);
  color: var(--thirdColor);
}

.featured article {
  display: flex;
  background-color: var(--secondColor);
  color: var(--thirdColor);
  height: 480px;
}

.featured__image {
  position: relative;
  height: inherit;
  width: 50%;
  height: inherit;
}
.featured__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(234, 228, 202);
  background: linear-gradient(
    270deg,
    rgb(7, 9, 7, 1) 0%,
    rgb(7, 9, 7, 0.1) 50%,
    rgb(7, 9, 7, 0) 90%
  );
}
.featured__content {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.travel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
  padding: 60px 0;
}
.travel__item {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.travel__image {
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
}
.travel h3 {
  padding-top: 10px;
  flex-basis: 100%;
  text-align: center;
  text-transform: uppercase;
}
.food {
  background-color: var(--secondColor);
  padding: 60px 70px 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.food h3 {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}
.food__item {
  display: flex;
  gap: 40px;
}
.food__image {
  flex: 0 0 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.4);
}
.food__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about h2 {
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.about__text {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}
footer {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.menu--footer {
  font-size: 18px;
  color: var(--secondColor);
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .featured article {
    height: 40vw;
  }
  .food {
    padding: 70px 50px;
  }
}
@media screen and (max-width: 767px) {
  .menu ul {
    gap: 3px;
  }
  .featured article {
    flex-direction: column;
    height: unset;
  }
  .featured__image {
    width: 100%;
    height: calc(100vw / 1.25);
  }
  .featured__image::after {
    bottom: -1px;
    background: linear-gradient(
      0deg,
      rgb(7, 9, 7, 1) 0%,
      rgb(7, 9, 7, 0.1) 50%,
      rgb(7, 9, 7, 0) 90%
    );
  }
  .featured__content {
    padding: 20px 20px 30px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .food {
    padding: 70px 0;
  }
  .food__item {
    flex-direction: column;
  }
  .food__image {
    width: 100%;
    flex: 0 0 calc(100vw / 1.5);
  }
  .food__content {
    align-items: center;
    padding: 0 15px;
  }
  .food__excerpt {
    text-align: center;
  }
  .about {
    padding: 50px 10px;
  }
}
